* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background-color: #222;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

div, img {
	position: absolute;

}

.ellipse {
	border-radius: 50%;
}

.rectangle {

}

.type {

}