.yatta-el {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
}

.yatta-display {
	overflow: hidden;
	background-color: #222;
	cursor: default;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.yatta-ellipse {
	border-radius: 50%;
}

.yatta-rectangle {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	backface-visibility: visible;
}

.yatta-type {

}

.yatta-letter {
	display: inline-block;
	position: relative;
}

.yatta-params-container {
	position: fixed;
	width: 200px;

	top: 0;
	bottom: 0;
	left: -200;

	z-index: 1000;

	background: #322;
	/*opacity: 0.7;*/

	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

.yatta-params-container:hover {
	left: 0;
}

.yatta-params-container:after {
	display: block;
	content: "\0020";

	position: absolute;

	top: 0;
	bottom: 0;
	width: 50px;

	height: 100%;

	left: 200px;
}

.yatta-params-container:hover:after {
	width: 400px;
}

.yatta-param-container {
	position: static;
	display: block;

	margin-bottom: 1em;

	padding-left: 20px;
	padding-top: 20px;

}

.yatta-param-name {
	position: static;
	display: block;
	color: white;

	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
	opacity: 0.3;
	margin-bottom: 3px;
}

.yatta-param-input {
	position: static;
	display: block;
	color: white;

	font-size: 22px;


	width: auto;

	border: none;

	background: transparent;

	opacity: 0.5;

	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;

	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.yatta-param-input:focus {
	outline: none;

	opacity: 1 !important;
}

.yatta-param-input:hover {
	opacity: 0.7;
}

.yatta-camera {
	position: absolute;
	width: 100%;
	height: 100%;
}

.yatta-display {
	position: absolute;
	width: 100%;
	height: 100%;
}

.yatta-container {
	/*width: 100%;
	height: 100%;*/
}